body {
  width: 100%;
  padding: 0;
  margin: 0;
}

.header {
  background-color: #5FBF5E;
  color: #fff;
  padding: 10px;
  font-size: 18px;
}

.empty {
  text-align: center;
  font-style: italic;
  margin-top: 100px;
  font-size: 14px;
}

._ClearHistory {
  float: right;
  font-size: 75%;
  cursor: pointer;
  color: #fff;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #333;
  text-align: left;
  padding: 5px;
}

tr:nth-child(even) {
  background-color: #DFDFDF;
}